@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;


.home{
  background-color: $bg-color;
    .navbar{
      border-bottom: 1px solid #fff;
      .navbar-brand{
        font-size: 2.5rem;
        color: #fff;
      }
      ul{
        margin-left: auto;
        .nav-link{
          color: #808080;
        }
        .nav-item.active > .nav-link{
          color: #333;
        }
      }
    }


  .landing{
    height: 600px;
    h2{
      font-size: 4rem;
    }
  }
}